/* base content area */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper h1 {
    margin: 20px 0;
    font-size: 36px;
    text-align: center;
}

.content-wrapper h2 {
    margin: 20px 0;
    text-align: center;
    color: var(--main2);
}

/* base body area */
.content-body {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px 20px 40px 20px;
    line-height: 250%;
}

.content-body p {
    font-weight: 400;
}

/* emphasis area */
.body-emphasis {
    display: flex;
    width: 70%;
    height: 100px;
    margin: 40px 0;
    padding: 12px;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.body-emphasis p {
    text-align: center;
}

.body-emphasis p span {
    font-size: 24px;
}

.body-emphasis a {
    margin-right: 12px;
    color: var(--main2);
}

/* body columns area */
.body-row {
    display: flex;
    align-items: start;
    justify-content: center;
}

.body-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 24px 12px;
    text-align: center;
    justify-content: center;
}

.body-column p {
    margin: 16px 0;
    text-decoration: underline;
}

.body-column ul li {
    list-style: none;
    margin: 12px 0;
    padding: 16px;
    line-height: 200%;
    transition: padding-left 0.5s;
}

.body-column ul li:hover {
    cursor: pointer;
    color: var(--main2);
    background: var(--white3);
    padding-left: 40px;
    transition: padding-left 0.5s;
}

/* relative styles */
@media screen and (max-width: 800px) {
    .content-body {
        width: 88%;
    }

    .body-row {
        flex-direction: column;
    }

    .body-column {
        width: 100%;
    }
}

/* body social media area */
.body-social {
    display: flex;
    width: 100%;
    margin: 52px 0;
    justify-content: center;
}

.body-social a {
    margin: 0 20px;
}

.body-social img {
    width: 56px;
    height: 56px;
}

/* specific cases */
#special-reminder {
    line-height: 350%;
    color: var(--main2);
}

#little-footnote {
    margin-top: 52px;
    text-align: end;
    color: var(--white4);
}