:root {
    --main1:#f16b31;
    --main2:#c74a27;
    --secondary1:#3D71FF;
    --secondary2:#2b50b6;
    --white1:#fcf1e8;
    --white2:#ebe3dd;
}

* {
    margin:0; 
    padding:0;
    color:#f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--white2);
}

header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: var(--main1);
}

h2 {
    margin: 12px;
}

li {
    display: inline;
}